version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: byteofme_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: byte_of_me
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d byte_of_me" ]
      interval: 5s
      retries: 5
      timeout: 3s

  adminer:
    image: adminer
    container_name: byteofme_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
